<!DOCTYPE html>
<html>

<title> Espresso Yourself </title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<head>
	
     
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title> Code Camp </title>

</head>
<body>
  

     <nav class="purple lighten-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo white-text"> Digital Women Code Camp</a>
      <ul class="right hide-on-med-and-down">
        <li> A site by Coffee & Code</li>
      </ul>
   
    </div>
  </nav>
	
<div id="index-banner" class="parallax-container">
    
       
        <h1 class="header center brown-text text-lighten-1 "> Teams in DW Code Camp</h1>
        	

</div>

<div class="container purple lighten-4">
        <!-- Page Content goes here -->
		    <div class="row">
      <div class="col s1">1</div>
	  
      <div class="col s1">2</div>
      <div class="col s1">3</div>
      <div class="col s1">4</div>
      <div class="col s1">5</div>
      <div class="col s1">6</div>
      <div class="col s1">7</div>
      <div class="col s1">8</div>
      <div class="col s1">9</div>
      <div class="col s1">10</div>
      <div class="col s1">11</div>
      <div class="col s1">12</div>
 </div>



</body>
</html>
